@model QL_Sach_Nhom.Models.Sach

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamXuatBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamXuatBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaXuatBan.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TacGia.TenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TacGia.TenTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
